#!/usr/bin/make -f

UNAME:=$(shell uname -s)
DATE:=$(shell date)
COMPILED:="Built on a ${UNAME} system at ${DATE}"
VERSION:=${shell cat debian/changelog | head -1 | sed -e's/^maradns (//' | sed -e's/-[[:digit:]]\+) \w\+; .*//' }
ifeq ($(UNAME),Linux)
    MAKEFILE:=build/Makefile.linux
else
    MAKEFILE:=build/Makefile.freebsd
endif

%:
	dh $@ 

override_dh_auto_configure:
	@echo "System: ${UNAME}"
	@echo "Version: ${VERSION}"
	@echo "Makefile: ${MAKEFILE}"

override_dh_auto_test:

override_dh_auto_clean:
	make -f $(MAKEFILE) clean

override_dh_auto_build:
	cp rng/rng-32bit-tables.h rng/rng-32bit-tables.h.bak
	make -f $(MAKEFILE) all COMPILED=\"${COMPILED}\" VERSION=\"${VERSION}\"
	mv rng/rng-32bit-tables.h.bak rng/rng-32bit-tables.h

#override_dh_strip:
#	make -f $(MAKEFILE) strip

